.to-do-list {
  font-family: cursive;
  text-align: center;
  margin-top: 120px;
}

h2 {
  font-family: cursive;
  font-size: 4rem;
}

.new-task-input,
.Add-button {
  height: 50px; /* Set a fixed height */
  font-size: 1.7rem;
  padding: 0 10px; /* Adjust padding for consistent size */
  border-radius: 8px;
  border: 2px solid; /* Add a border to match */
}

.new-task-input {
  flex: 1; /* Allows the input to grow if needed */
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  color: antiquewhite;
  border: none;
  cursor: pointer;
}

.Add-button {
  background-color: rgb(148, 230, 148);
  margin-left: 12px;
}

.Add-button:hover {
  background-color: rgb(3, 255, 3);
}

.del-task-button {
  background-color: rgb(210, 66, 66);
}

.del-task-button:hover {
  background-color: rgb(106, 10, 10);
}

.MoveUp-task-button {
  background-color: rgb(8, 174, 174);
}

.MoveUp-task-button:hover {
  background-color: rgb(5, 95, 95);
}

.MoveDown-task-button {
  background-color: rgb(42, 213, 213);
}

.MoveDown-task-button:hover {
  background-color: rgb(8, 102, 102);
}

input {
  padding: 0 15px; /* Adjust padding for consistent size */
}

li {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(243, 236, 226);
  margin-bottom: 10px;
  border: 3px solid rgb(238, 229, 229);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.text {
  flex: 1;
}

.del-task-button,
.MoveUp-task-button,
.MoveDown-task-button {
  padding: 7px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Space between input and task list */
}
